<% layout('/layouts/default') %>
<div class="row">
	<div class="col-lg-8">
		<div class='row'>
			<div class='col-lg-12'>
				<div id="profile" style="height:120px;">
					<img height="120" width="120" class='img-circle pull-left' src='https://avatars.githubusercontent.com/u/<%- user.githubId %>' />
					<h3>Hello <%- user.username %></h3>
				</div>
			</div>
		</div>
		<div class='row user_window 'style="margin-bottom:100px;">
			<div class='col-lg-12'>
				<div id="main_window" >
					
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<h2>All Code Smells</h2>
		<div class="posts" >
		
		</div>
	</div>
</div>
