<% layout('/layouts/default') %>
<% if (message.length) { %>
	<div class="alert alert-info" style="margin-top:20px;"><%- message %></div>
<% } %>
<form class="form-signin" action="/login" method="post">
	<h2 class="form-signin-heading">Please sign in</h2>
	<input type="text" name="username" class="form-control" placeholder="Username" autofocus>
	<input type="password" name="password" class="form-control" placeholder="Password">
	<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	<div align=center><b>or</b></div>
	<a href="/register" class="btn btn-lg btn-success btn-block">Register</a>
	<div align=center><b>or</b></div>
	<a href="/auth/github" class="btn btn-lg btn-warning btn-block">Github</a>
</form>

