<% layout('/layouts/default') %>
<form class="form-signin" action="/register" method="post">
	<h2 class="form-signin-heading">Register Free</h2>
	<input type="text" name="username" class="form-control" placeholder="Username" autofocus>
	<input type="password" name="password" class="form-control" placeholder="Password">
	<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>
	<button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
	<div align=center><b>or</b></div>
	<a href="/login" class="btn btn-lg btn-primary btn-block">Sign in</a>
</form>
